
.anwser{
    color: #808080;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: #A1A1A1;
    height: 80%;
    width: 45%; 
}

.messages{
    max-height: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}

.question{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 12px;
    background-color: #8CD8F0;
    height: 80%;
    width: 45%; 
}

.question_play{
    width: 20%;
}

.anwser_text{
    width: 80%;
}

.anwser_play{
    width: 20%;
}

.question_content {
    width: 100%;
    height: 100%;
    min-height: 60px;
    min-width: 245px;

    display: flex;
    justify-content: flex-end;
}

.anwser_content {
    width: 100%;
    height: 100%;
    min-height: 60px;
    min-width: 245px;
    display: flex;
    justify-content: flex-start;
}

.question img{
    padding-left: 20%;
    height: 40%;
    width: 50%;
}

.anwser img{
    padding-left: 20%;
    height: 40%;
    width: 50%;
}

.anwser_text {
    color: black
} 