.home_card {
  height: 80%;
  max-height: 500px;
  width: 80%;
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
  justify-content: center;
  background: #d9d9d9;
  position: relative;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.home_header {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 12%;
  background-color: #e1e1e1;
}

.history {
  width: 100%;
  height: 90%;
}

.messages_content {
  width: 100%;
  height: 75%;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  max-height: 100%;
  overflow: auto;
}

.talk_button {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mic {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #262c37;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home_header p {
  font-family: roboto;
  font-weight: 800;
  font-size: 0.8em;
  color: #c0c0c0;
  margin-left: 2em;
}

.sair_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #399f5c;
  width: 12%;
  border: none;
  height: 50%;
  border-radius: 5px;
  color: #e1e1e1;
  font-weight: bold;
  font-family: "Roboto";
  margin-right: 2em;
}
